.home {
    display: flex;
    min-width: calc(100vh - 125px);
    height: 460px;
    align-items: center;
    gap: 50px;
    flex-direction: column;
}

.home .informacoes {
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    letter-spacing: 2px;
    padding: 0 15px;
    max-width: 50%;
    
}

.home .informacoes h1 {
    color: #aaa;
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    text-align: center;
    
}

.home .informacoes p {
    color: #aaa;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    text-align: center;
}

.home .container-foto .foto {
    border: #9443d8 solid 3px;
    margin-top: 20px;
    max-width: 150px;
    border-radius: 50%;
}

.home .container-foto img {
    background-color: #aaa;
    width: 100%;
    border-radius: 100%;
}

.home .foto.sombra-interna {
    background-color: #9443d8;
}