
.projeto-ativo a {
  max-width: 100%;
  height: 615px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 10px;
}

.projetos .container-projetos {
  display: flex;
  align-items: center;
  max-height: 650px;
  margin-bottom: 20px;
  

}

.projeto-ativo {
  display: flex;
  margin: 20px 20px 20px;
  max-height: 690px;

}

.imagem {
  display: flex;
  width: 700px;
  max-height: 630px;
  margin-left: 50px;
  margin-top: 15px;
  

  img {
    height: 580px;
    max-width: 700px;
    padding: 5px;
    border-radius: 15px;
    
  }
} 

.info-projeto {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  max-height: 670px;
  margin-left: 20px;
  

  .descricao-titulo h3 {
    color: #fb2c36;
    padding: 10px 20px;
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    margin-top: 40px;
  }

  .descricao-subtitulo p {
    color: #ddd;
    
    padding: 0px 20px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }

  .descricao {
    min-width: 650px;
    min-height: 240px;
    color: #71717b;
    padding: 30px 20px;
    
    font-size: 18px;
  }

  .estado-projeto h4 {
    color: #fb2c36;
    padding: 10px 20px;
    font-size: 15px;
  }

  button {
    
    background-color: #71717b;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    width: 130px;
    height: 30px;
    margin-left: 20px;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: bold;
  }

  .tecnologias h4 {
    color: #fb2c36;
    height: 70px;
    padding: 30px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    margin-top: 10px;
  }

  .lista-tec {
    display: flex;
    gap: 25px;
    padding: 0 10px;
    margin-left: 10px;
    font-size: 30px;
  }
}

.swiper{
  width: 100%;
  
  .swiper-pagination-bullet-active{
    background-color: #fb2c36;
  }
  
  .swiper-button-prev{
    color: #fb2c36;
  }
  
  .swiper-button-next{
   color: #fb2c36;
  }
}






