.container-dos-projetos {
  background-color: #000000;  
  height: 720px;
}

.button-down{
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66px;

  .arrow-down-about a {     
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      

      button{
        background-color: transparent;
        height: 33px;
        color: #71717b;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        transition: 0.5s;

        .icon{
          display: flex;
          align-items: center;
        }
      }
    }

    .arrow-down-about a button:hover {
      color: #ffffff;
      border-bottom: #fb2c36 4px solid;     
    }
}




