.projetos {
  height: 1120px;
  

}

.projetos .titulo {
  background: linear-gradient(90deg, #9443d9, #94438d); 
  text-align: center;
  max-width: 100%;
  height: 155px;
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;

}
