.projetos {
  background-color: #aaa;
  padding: 15px 50px 70px;
}

.projetos .titulo {
  text-align: center;
  padding: 60px 0;
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
}

.projeto-ativo a {
  width: 1370px;
  display: flex;
  justify-content: space-between;
}

.informacoes-projeto {
  width: 1070px;
  display: flex;
  flex-direction: column;

  .titulo-projeto {
    padding: 30px 30px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .descricao {
    padding: 30px 30px;
    font-size: 12px;
    font-weight: 500;
  }
}

.projetos .container-projetos {
  display: flex;
  margin-bottom: 20px;
}

.projetos .projeto-ativo {
  border-radius: 5px;
  display: none;

  margin: 20px 20px 20px;
}

.projetos img:hover {
  transform: scale(1.1);
}

.projetos .projeto-ativo {
  display: block;
}

.projetos .projeto-ativo img {
  border-radius: 5px;
  max-width: 260px;
  max-height: 500px;
  height: 100%;
  transition: 0.5s;
}
