.cabecalho {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
}

.cabecalho .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .menu-projetos a {
   color: #71717b;
   height: 30px;
   font-size: 16px;
   padding: 10px 20px;
   transition: 0.5s;
   
  }
}

.cabecalho .menu a:hover {
  color: #ffffff;
  border-bottom: #fb2c36 4px solid;
  
}


