.cabecalho {
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 15px;
}

.cabecalho .menu li a {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.2s;
}

.cabecalho .menu li a:hover {
    color: #9443d8;
}